.page-footer {

}

.page-footer__top {
  padding-top: 62px;
  padding-bottom: 55px;
  background-color: #11161d;
}

.page-footer__bottom {
  background-color: #11161d;
}

.page-footer__row {
  @include ul-none();
  @include make-row();
}

.page-footer__item {
  @include make-col-ready();
  @include make-col(3);
}
