.title {
  font-family: $font-1;
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;

  &--white {
    color: $white;
  }

  &--big {
    @media (min-width: $screen-xl) {
      font-size: 72px;
      font-weight: 500;
      line-height: 72px;
    }
  }
}
