* {
  box-sizing: border-box;
}

body {
  font: 400 $fz $font-1;
  color: #53575e;
}

a {
  cursor: pointer;
  transition: $time;

  &:hover {
    text-decoration: none;
  }
}

button {
  transition: $time;
  cursor: pointer;
}

img {
  max-width: 100%;
}
