.video-content {
  position: relative;
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    left: -70px;
    bottom: 4px;
    width: 331px;
    height: 264px;
    background: url("../img/decor/dot-1.png") no-repeat center left/cover;
    z-index: -1;
  }

  @media (min-width: $screen-xl) {
    max-width: 500px;
    //margin-right: 0;
  }
}

.video-content img {
  //margin-left: -74px;
  margin-left: -87px;

  @media (min-width: $screen-xl) {
    margin-left: -0px;
  }
}

.video-content__play {
  display: block;
  position: absolute;
  top: 44px;
  right: 48px;
  width: 94px;
  height: 94px;
  z-index: 2;

  @media (min-width: $screen-xl) {
    width: 146px;
    height: 146px;
    top: 40%;
    right: 48px;
    transform: translateY(-42%);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border: 1px solid #2a5088;
    z-index: -1;
    mask-image: -webkit-gradient(linear,30% 30%,right bottom,from(rgba(0,0,0,0)),to(#000));
  }

  &::before {
    left: 10px;
    top: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    animation-name: circle-2;
    animation-direction: reverse;
  }

  &::after {
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    animation-name: circle;
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    border-radius: 50px;
    width: 56px;
    height: 56px;
    background-image: linear-gradient(to top, #0772f7 0%, #73acf9 99%, #73acf9 100%);
    background-repeat: no-repeat;

    @media (min-width: $screen-xl) {
      width: 88px;
      height: 88px;
    }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      top: 50%;
      left: 50%;
      transform: translate(-40%,-50%);
      background-image: url("../img/icon/play-arrow.svg");
      position: absolute;
      background-size: contain;

      @media (min-width: $screen-xl) {
        width: 19px;
        height: 19px;
      }
    }
  }
}

.video-content__text-wrap {
  position: absolute;
  top: 186px;
  right: -12px;
  max-width: 210px;
  width: 100%;
  border-radius: 10px;
  padding: 19px 27px;
  background-image: linear-gradient(-23deg, #252936 0%, #454b5e 100%);
  color: #c8cedf;
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;

  @media (min-width: $screen-xl) {
    top: 401px;
    right: 7px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 10px;
    border: 1px solid rgba($white, 0.1%);
  }

  p {
    margin: 0;
  }
}
