mixin service__info()
  section.service__info
    h3.service__title Уборка квартир
    table.table.service__table
      tr
        td
          span.service__numb.service__numb--price #[sup от] 1350
        td
          span.service__numb.service__numb--time ~2,5 #[sub ч]
    p Нажмите подробнее, что бы ознакомится с видами услуг и узнать точную стоимость уборки кварты
    .service__btn
      a.btn.btn--light(href="service.html") Подробнее
      a.btn.btn--main(href="#") Заказать
