mixin social-fix()
  .social-fix
    button.social-fix__btn(aria-label="Раскрыть иконки соц. сетей")
    ul.social-fix__list
      li.social-fix__item
        a.social-fix__link.social-fix__link--whatsapp(href="#" aria-label="Whatsapp")
      li.social-fix__item
        a.social-fix__link.social-fix__link--telega(href="#" aria-label="Telegram")
      li.social-fix__item
        a.social-fix__link.social-fix__link--vk(href="#" aria-label="VK")
      li.social-fix__item
        a.social-fix__link.social-fix__link--facebook(href="#" aria-label="facebook")
