include ../blocks/companents/field-text/field-text.pug
include ../blocks/companents/field-checkbox/field-checkbox.pug

include ../blocks/project/page-footer/page-footer.pug
include ../blocks/project/page-header/page-header.pug
include ../blocks/project/service/service__info.pug
