.block-serv {
  position: relative;
  // padding-bottom: 116px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  // z-index: 1;


  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.94);
    z-index: 0;
  }

  &:nth-child(odd) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 28.5%;
      height: 100%;
      background-color: rgba(#e9edf1, 0.5%);
      z-index: 1;
    }
  }

  &:nth-child(even) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 71.5%;
      height: 100%;
      background-color: rgba(#e9edf1, 0.5%);
      z-index: 1;
    }
  }
}

.block-serv--cleaning {
  background-color: #e7ebee;

  &::after {
    display: none;
  }

  &:nth-child(even) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 28.5%;
      height: 100%;
      background-color: #eff3f5;
      z-index: 1;
    }
  }
}

.block-serv--cleaning .block-serv__wrap {
  padding-top: 105px;
  padding-bottom: 77px;
}

.block-serv__wrap {
  position: relative;
  padding-top: 116px;
  z-index: 1;
  overflow: hidden;
}


.block-serv__wrap--service {
  padding-top: 129px;
}

.block-serv__wrap--action {
  padding-bottom: 60px;
}

.block-serv__wrap--reglament {
  padding-bottom: 86px;
}

.block-serv__wrap--calculator {
  padding-top: 130px;
  padding-bottom: 113px;
}

.block-serv__title {
  position: relative;
  max-width: 697px;
  margin-left: auto;
  margin-bottom: 60px;

  &::after {
    content: "";
    position: absolute;
    left: -457px;
    top: 19px;
    height: 65px;
    width: 375px;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url("../img/decor/dot-2.png");
  }
}

.block-serv__row {
  @include make-row();
}

.block-serv__column-4 {
  @include make-col-ready();

  @media (min-width: $screen-xl) {
    @include make-col(4);
    margin-bottom: 25px;
  }
}

.block-serv__faq {
  margin-left: 85px;
}
