.main-block {
  color: $white;
  max-width: 500px;
  width: 100%;

  &--big {
    max-width: 635px;

    @media (min-width: $screen-xl) {
      margin-bottom: 153px;
    }
  }
}

.main-block__title {
  margin-bottom: 17px;

  @media (min-width: $screen-xl) {
    margin-bottom: 12px;
  }


  @media (max-width: 1199px) {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
  }
}

.main-block__tagline {
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 27px;

  @media (min-width: $screen-xl) {
    font-size: 32px;
    line-height: 44px;
    //margin-bottom: 46px;
    margin-bottom: 36px;
  }
}

.main-block__tagline--big {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;

  @media (min-width: $screen-xl) {
    font-size: 18px;
    line-height: 29px;
  }
}

.main-block__list {
  @include ul-none();
  display: none;
  //margin-bottom: 62px;

  @media (min-width: $screen-xl) {
    display: block;
    margin-bottom: 52px;
  }
}

.main-block__list li {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 29px;
  padding-left: 50px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 5px solid #6aa5f5;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.main-block__list li a {
  display: inline-block;
  color: $white;

  &:hover {
    color: $white;
  }
}

.main-block__btn {
  position: absolute;
  bottom: -398px;
  left: 0;
  z-index: 1;
  font-size: 16px;
  right: 0;
  max-width: 290px;
  margin: auto;

  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.45px;
  padding: 18px 79px 20px;

  @media (min-width: $screen-md) {
    position: static;
    padding: 24px 20px 19px;
    max-width: 320px;
    width: 100%;
    font-size: 18px;
  }
}

.main-block__btn-form {
  padding: 20px 32px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;

  @media (min-width: $screen-xl) {
    font-size: 18px;
    letter-spacing: 0.45px;
  }
}

.main-block__form-wrap {

  width: 100%;

  @media (min-width: $screen-xl) {
    margin-right: 20px;
    max-width: 320px;
  }

  .field-text {
    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  .field-text__input {
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    padding: 20px 20px 20px 50px;
    background: $white url("../img/icon/phone-tr.svg") no-repeat 16px 50% / 18px;

    @media (min-width: $screen-xl) {
      padding: 20px 20px 20px 60px;
      background-position: 22px 50%;
      background-size: 22px;
    }
  }
}

.main-block__form {
  .field-checkbox {
    margin-top: 15px;
    margin-bottom: 0;
    opacity: 0;
    transition: $time;
    z-index: -1;
  }

  .field-checkbox--visible {
    opacity: 1;
    z-index: 1;
  }
}

.main-block__form-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $screen-xl) {
    flex-direction: row;
    margin-bottom: 0;
  }
}
