.fancybox-is-open .fancybox-bg--menu {
  background: #151621;
  opacity: 0.98;
}

.fancybox-bg--menu + .fancybox-inner {
  .fancybox-slide {
    padding: 0;
  }

  .fancybox-button {
    display: none;
  }
}

.menu {
  display: none;
  width: 100%;
  height: 100%;
  padding: 64px 39px;
  background: transparent;

  @media (min-width: $screen-xl) {
    padding: 55px 0;
  }
}

.menu__main {
  position: relative;
  max-width: 1050px;
  margin: auto;
}

.menu__title {
  display: block;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  margin-bottom: 65px;

  @media (min-width: $screen-xl) {
    font-size: 40px;
  }

  &:hover {
    color: $white;
  }
}

.menu__title[data-menu-toggle=""] {
  display: inline-block;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: -35px;
    top: 50%;
    margin-top: -8.5px;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-right: 1px solid #1064bc;
    border-bottom: 1px solid #1064bc;
    transform: rotate(45deg);
    transition: $time;
  }

  @media (min-width: $screen-xl) {
    display: block;

    &::after {
      display: none;
    }
  }
}

.menu__title--active[data-menu-toggle=""] {
  &::after {
    margin-top: -3.5px;
    transform: rotate(-135deg);
  }
}

.menu__submenu {
  display: none;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-bottom: 80px;

  @media (min-width: $screen-xl) {
    display: flex;
    margin-top: 0;
    margin-bottom: 95px;
  }
}

.menu__submenu-item {
  margin-bottom: 40px;
  max-width: 230px;
  width: 100%;

  @media (min-width: $screen-xl) {
    margin-right: 120px;
    width: auto;
    max-width: inherit;

    &:last-child {
      margin-right: 0;
    }
  }

}

.menu__submenu-title {
  font-size: 16px;
  font-weight: 500;
  color: $white;
  margin-bottom: 29px;
}

.menu__submenu-menu {
  @include ul-none();
}

.menu__submenu-menu li {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.menu__submenu-menu a {
  display: inline-block;

  font-size: 12px;
  font-weight: 300;
  color: $white;
}

.menu__messager {
  @include ul-none();
  display: flex;
  flex-wrap: wrap;
}

.menu__messager-item {
  margin-right: 25px;
  margin-bottom: 15px;
}

.menu__messager-link {
  display: inline-block;
  color: $white;

  &:hover {
    color: darken($white, 30%);
  }
}

.menu__close {
  position: absolute;
  top: -35px;
  right: -20px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid $white;
  background: transparent;

  @media (min-width: $screen-xl) {
    right: 0;
    top: 10px;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
    height: calc(100% - 12px);
    width: 1px;
    background: $white;
  }

  &::before {
    transform: translate(-50%,-50%) rotate(45deg)
  }
}
