mixin menu()
  .menu(id="menu")
    .menu__main
      button.menu__close(data-fancybox-close="" aria-label="Закрыть меню")
      h3.menu__title УСЛУГИ
      .menu__submenu
        section.menu__submenu-item
          h4.menu__submenu-title УБОРКА
          ul.menu__submenu-menu
            li
              a(href="#") уборка квартир
            li
              a(href="#") уборка коттеджей
            li
              a(href="#") уборка офисов
            li
              a(href="#") уборка помещений
        section.menu__submenu-item
          h4.menu__submenu-title МОЙКА
          ul.menu__submenu-menu
            li
              a(href="#") мойка окон
            li
              a(href="#") уборка коттеджей
        section.menu__submenu-item
          h4.menu__submenu-title ХИМЧИСТКА
          ul.menu__submenu-menu
            li
              a(href="#") химчистка ковров
            li
              a(href="#") химчистка мягкой мебели
            li
              a(href="#") химчистка матрасов
            li
              a(href="#") устранение запахов
        section.menu__submenu-item
          h4.menu__submenu-title ДРУГОЕ
          ul.menu__submenu-menu
            li
              a(href="#") уборка снега
            li
              a(href="#") услуги ассенизатора
      a.menu__title(href="#") О компании
      a.menu__title(href="#") Контакты
      ul.menu__messager
        li.menu__messager-item
          a.menu__messager-link(href="#") WhatsApp
        li.menu__messager-item
          a.menu__messager-link(href="#") Telegram
        li.menu__messager-item
          a.menu__messager-link(href="#") Vkontakte
        li.menu__messager-item
          a.menu__messager-link(href="#") Instagram
        li.menu__messager-item
          a.menu__messager-link(href="#") YouTube

