.page-header {
  padding-top: 24px;
  padding-bottom: 51px;
}

.page-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__left {
  display: flex;
  align-items: center;
}

.page-header__right {
  display: flex;
  align-items: center;
}

.page-header__logo {
  display: block;
  max-width: 185px;
}

.page-header__phone {
  position: relative;
  color: $white;
  font-size: 21px;
  font-weight: 500;
  line-height: 42px;
  padding-left: 35px;
  margin-right: 45px;

  &:hover {
    color: darken($white, 30%);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background: url("../img/icon/phone-receiver.svg") no-repeat center / contain;
  }
}

.page-header__burger {
  margin-right: 65px;
}

.page-header__cb {
  font-size: 12px;
  font-weight: 400;
  padding: 12px 14px 9px;
  box-shadow: 0 9px 24px rgba(3,81,152,.39), 0 3px 0 #035198;

  &:hover {
    color: darken($white, 30%);
  }
}
