mixin page-header(tpl)
  header.page-header
    .container.page-header__container
      .page-header__row
        .page-header__left
          a.burger.page-header__burger(href="#menu" data-fancybox="" aria-label="Открытие меню")
            span.burger__span
          a.page-header__logo(href="index.html")
            if(tpl === "single")
              img(src="img/sharing/logo-blue.png", alt="«Чистоград» — клининговая компания")
            else
              img(src="img/sharing/logo-white.png", alt="«Чистоград» — клининговая компания")
        .page-header__right
          .page-header__social
            a.page-header__social-link.page-header__social-link--whatsapp(href="" aria-label="Whatsapp")
              svg(width="25" height="25")
                use(xlink:href="img/symbols.svg#whatsapp-2")
            a.page-header__social-link.page-header__social-link--telega(href="" aria-label="Telegram")
              //- <!--?xml version="1.0" encoding="UTF-8"?-->
              //- <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="25px" height="25px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 15893 15893" xmlns:xlink="http://www.w3.org/1999/xlink">
              //-   <defs>
              //-     <style type="text/css">

              //-       .fil3 {fill:#61A8DE}
              //-       .fil0 {fill:#61A8DE}
              //-       .fil4 {fill:white}
              //-       .fil1 {fill:#FEFEFE;fill-rule:nonzero}
              //-       .fil2 {fill:white;fill-rule:nonzero}

              //-     </style>
              //-   </defs>
              //-   <g id="Слой_x0020_1">
              //-     <metadata id="CorelCorpID_0Corel-Layer"></metadata>
              //-     <g id="_1906267947488">
              //-      <path class="fil0" d="M7947 710c3997,0 7237,3240 7237,7237 0,3997 -3240,7237 -7237,7237 -3997,0 -7237,-3240 -7237,-7237 0,-3997 3240,-7237 7237,-7237z"></path>
              //-      <path class="fil1" d="M7947 292c2113,0 4027,856 5413,2242 1385,1385 2242,3299 2242,5413 0,2113 -857,4027 -2242,5413 -1386,1385 -3300,2242 -5413,2242 -2114,0 -4028,-857 -5413,-2242 -1386,-1386 -2242,-3300 -2242,-5413 0,-2114 856,-4028 2242,-5413 1385,-1386 3299,-2242 5413,-2242zm4822 2833c-1234,-1234 -2939,-1997 -4822,-1997 -1883,0 -3588,763 -4822,1997 -1234,1234 -1997,2939 -1997,4822 0,1883 763,3588 1997,4822 1234,1234 2939,1997 4822,1997 1883,0 3588,-763 4822,-1997 1234,-1234 1997,-2939 1997,-4822 0,-1883 -763,-3588 -1997,-4822z"></path>
              //-      <path class="fil2" d="M7947 0c1074,0 2100,214 3038,602 974,404 1849,994 2581,1726 731,731 1321,1606 1725,2581 388,937 602,1963 602,3038 0,1074 -214,2100 -602,3038 -404,974 -994,1849 -1725,2581 -732,731 -1607,1321 -2581,1725 -938,388 -1964,602 -3038,602 -1075,0 -2101,-214 -3038,-602 -975,-404 -1850,-994 -2581,-1725 -732,-732 -1322,-1607 -1726,-2581 -388,-938 -602,-1964 -602,-3038 0,-1075 214,-2101 602,-3038 404,-975 994,-1850 1726,-2581 731,-732 1606,-1322 2581,-1726 937,-388 1963,-602 3038,-602zm2817 1140c-867,-359 -1818,-557 -2817,-557 -1000,0 -1951,198 -2817,557 -899,373 -1710,920 -2390,1600 -680,680 -1227,1491 -1600,2390 -359,866 -557,1817 -557,2817 0,999 198,1950 557,2817 373,899 920,1709 1600,2389 680,680 1491,1228 2390,1600 866,359 1817,557 2817,557 999,0 1950,-198 2817,-557 899,-372 1709,-920 2389,-1600 680,-680 1228,-1490 1600,-2389 359,-867 557,-1818 557,-2817 0,-1000 -198,-1951 -557,-2817 -372,-899 -920,-1710 -1600,-2390 -680,-680 -1490,-1227 -2389,-1600zm1798 2191c-1181,-1181 -2813,-1912 -4615,-1912 -886,0 -1730,176 -2498,494 -796,330 -1515,815 -2118,1418 -603,603 -1088,1322 -1418,2118 -318,768 -494,1612 -494,2498 0,886 176,1729 494,2497 330,797 815,1515 1418,2118 603,603 1322,1088 2118,1419 768,318 1612,493 2498,493 886,0 1729,-175 2497,-493 797,-331 1515,-816 2118,-1419 603,-603 1088,-1321 1419,-2118 318,-768 493,-1611 493,-2497 0,-886 -175,-1730 -493,-2498 -331,-796 -816,-1515 -1419,-2118zm-4615 -2495c1963,0 3741,796 5028,2083 654,654 1182,1437 1543,2309 348,839 539,1757 539,2719 0,961 -191,1879 -539,2718 -361,872 -889,1655 -1543,2310 -655,654 -1438,1182 -2310,1543 -839,348 -1757,539 -2718,539 -962,0 -1880,-191 -2719,-539 -872,-361 -1655,-889 -2309,-1543 -655,-655 -1183,-1438 -1544,-2310 -347,-839 -539,-1757 -539,-2718 0,-962 192,-1880 539,-2719 361,-872 889,-1655 1544,-2309 654,-655 1437,-1183 2309,-1544 839,-347 1757,-539 2719,-539z"></path>
              //-      <path class="fil3" d="M4197 12976l7789 0c15,-15 31,-29 48,-42 18,-24 38,-44 59,-65l44 -59c15,-20 32,-37 49,-55l17 -24 98 -157c6,-10 12,-19 18,-27l61 -81c16,-22 34,-39 53,-58l120 -172 119 -178c71,-107 186,-166 304,-170l0 -7742c-14,-18 -26,-36 -38,-56 -42,-37 -75,-83 -97,-135 -14,-25 -25,-50 -34,-76 -30,-31 -54,-60 -74,-99l3 8 -17 -17c-27,-27 -49,-58 -66,-90 -14,-17 -27,-36 -37,-55 -19,-18 -37,-37 -56,-55 -35,-20 -66,-45 -94,-74l-7 -7c-34,-19 -64,-42 -89,-69l-34 -33c-46,-20 -88,-48 -123,-83l7 7c-20,-14 -40,-27 -59,-42 -22,-11 -42,-25 -61,-40 -33,-18 -63,-40 -89,-67l-61 -61c-53,-53 -87,-117 -103,-185l-7450 0c-15,9 -30,16 -45,24l-102 67c-33,23 -65,37 -103,49l-9 6 -154 116c-13,10 -27,18 -41,26 -28,28 -57,55 -93,77l-162 97 -57 57 0 -138 0 0c0,80 -26,161 -77,229 -1,5 -3,10 -4,15l0 -9 0 0c-3,73 -26,145 -69,206 -9,47 -28,93 -56,136l-41 60c-20,31 -42,53 -68,79 -108,108 -264,138 -398,90l6 7647c25,14 48,30 71,46l13 6c38,18 74,43 106,75l20 20 40 41c36,35 68,65 95,108l57 92 -7 -5c28,19 50,40 74,64 19,18 37,39 52,62l81 122c23,34 45,66 64,102 38,26 71,60 98,100l20 30c16,16 33,32 49,50 31,17 60,38 86,65 49,49 99,99 149,149l61 36c4,3 9,6 13,8 7,3 15,6 22,9 39,10 76,25 109,45z"></path>
              //-      <path class="fil4" d="M10838 5137l-6727 2622c-218,85 -205,397 19,464l1710 504 638 2025c66,211 334,275 489,117l884 -903 1734 1273c213,156 515,40 569,-217l1148 -5491c56,-269 -208,-493 -464,-394zm-844 1219l-3124 2763c-31,28 -51,66 -56,107l-120 1070c-4,34 -53,39 -63,6l-495 -1595c-23,-73 7,-152 72,-193l3690 -2288c84,-53 171,64 96,130z"></path>
              //-     </g>
              //-   </g>
              //- </svg>

          a.page-header__phone(href="tel:+7(919)60-39-770") +7 (919) 60-39-770
          a.btn.btn--main.page-header__cb(href="#callback" data-toggle="modal" data-target="#callback") Заказать звонок
