mixin page-header()
  header.page-header
    .container
      .page-header__row
        .page-header__left
          button.burger.page-header__burger(aria-label="Открытие меню")
            span.burger__span
          a.page-header__logo(href="index.html")
            img(src="img/sharing/logo-white.png", alt="«Чистоград» — клининговая компания")
        .page-header__right
          a.page-header__phone(href="tel:+7(919)60-39-770") +7 (919) 60-39-770
          a.btn.btn--main.page-header__cb(href="#callback" data-toggle="modal" data-target="#callback") Заказать звонок
