.reglament {

}

.reglament__header {
  margin-bottom: 39px;
  @media (min-width: $screen-xl) {
    margin-bottom: 25px;
  }
}

.reglament__title {
  margin-bottom: 30px;
  @media (min-width: $screen-xl) {
    margin-bottom: 35px;
  }
}

.reglament__nav {
  @include make-row();
  margin-left: -6px;
  margin-right: -6px;
}

.reglament__nav-item {
  @include make-col-ready();
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 10px;
  width: 50%;
  cursor: pointer;
  text-align: center;

  @media (min-width: $screen-xl) {
    max-width: 192px;
    width: 100%;
    margin-bottom: 15px;
  }
}

.reglament__nav-link {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  background-color: $white;
  box-shadow: 0 5px 18px rgba(182, 186, 192, 0.35);
  border-radius: 10px;
  transition: $time;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $screen-xl) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &.active {
    color: $white;
    background-image: linear-gradient(to top, #006ef7 0%, #6aa5f5 100%);
    box-shadow: 0 4px 10px rgba(105, 164, 245, 0.64);
  }
}

.reglament__content {
  overflow: auto;
  margin-left: -15px;
  margin-right: -15px;

  @media (min-width: $screen-xl) {
    margin-left: 0;
    margin-right: 0;
  }
}

.reglament__tab {
  width: 100%;
}

.reglament__tab  img {
  max-width: inherit;
  height: 351px;

  @media (min-width: $screen-xl) {
    max-width: 100%;
    height: auto;
  }
}
