mixin cleaning()
  section.block-serv.block-serv--cleaning
    .block-serv__wrap
      .container
        .block-serv__relative
          span.decor-text.block-serv__center-text сотрудники компании
          .cleaning
            header.block-serv__header
              h2.title.block-serv__title Уборкой занимаются надежные, добрые исполнители
            .cleaning__slider.owl-carousel.owl-theme
              .cleaning__slider-item
                section.performers
                  img.performers__img(src="img/content/img-perf-1.jpg", alt="Наталья Иванова")
                  h3.performers__title Наталья Иванова
                  .performers__text
                    p Любит животных, двое детей (Вероника и Вова), работает в компании с 2016 г. Считает, что чистота залог здоровья!
              .cleaning__slider-item
                section.performers
                  img.performers__img(src="img/content/img-perf-1.jpg", alt="Наталья Иванова")
                  h3.performers__title Наталья Иванова
                  .performers__text
                    p Любит животных, двое детей (Вероника и Вова), работает в компании с 2016 г. Считает, что чистота залог здоровья!
              .cleaning__slider-item
                section.performers
                  img.performers__img(src="img/content/img-perf-1.jpg", alt="Наталья Иванова")
                  h3.performers__title Наталья Иванова
                  .performers__text
                    p Любит животных, двое детей (Вероника и Вова), работает в компании с 2016 г. Считает, что чистота залог здоровья!
              .cleaning__slider-item
                section.performers
                  img.performers__img(src="img/content/img-perf-1.jpg", alt="Наталья Иванова")
                  h3.performers__title Наталья Иванова
                  .performers__text
                    p Любит животных, двое детей (Вероника и Вова), работает в компании с 2016 г. Считает, что чистота залог здоровья!
