.calc-service {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 12px 12px 12px 15px;
  background: $white;

  box-shadow: 0 5px 18px rgba(182, 186, 192, 0.35);
  border-radius: 10px;
  margin-bottom: 12px;

  @media (min-width: $screen-sm) {
    flex-wrap: nowrap;
  }
}

.calc-service__wrap-chek {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;

  @media (min-width: $screen-sm) {
    justify-content: flex-start;
    flex-direction: row;
  }
}

.calc-service__wrap-chek + .calc-service__title {
  width: 100%;
  margin-top: 31px;

  @media (min-width: $screen-md) {
    width: auto;
    margin-top: 0;
  }
}

.calc-service__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //flex-shrink: 0;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #6a6e76;
  margin: 0;

  span {
    margin-right: 11px;
    white-space: nowrap;
  }
}

.calc-service__checkbox-text {
  //margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  cursor: pointer;

  @media (min-width: $screen-sm) {
    margin-left: 24px;
  }
}

.calc-service__check {
  display: none;
}

.calc-service__check:checked + .calc-service__checkbox {
  background-image: linear-gradient(to top, #006ef7 0%, #6aa5f5 100%);
  box-shadow: 0 2px 8px rgba(105, 164, 245, 0.53);

  &::after {
    left: 19px;
  }
}

.calc-service__checkbox {
  position: relative;
  width: 42px;
  height: 23px;
  margin-right: 60px;
  border-radius: 12px;
  background-color: #e0ebf2;
  cursor: pointer;
  transition: $time;

  @media (min-width: $screen-sm) {
    margin-right: 0;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 1px;
    top: 1px;
    width: 22px;
    height: 21px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.08);
    background-color: $white;
    transition: $time;
  }
}
