extends pug/layout.pug

block meta
  title Главная
block header
  .fullpage.fullpage--main.fullpage--y-sb(style="background-image: url('../img/decor/bg-main-1.jpg')")
    +page-header()
    .fullpage__wrapper.fullpage__wrapper--center
      .container
        .fullpage__relative
          span.decor-text.fullpage__dec-text листай дальше
          .fullpage__row.fullpage__row--xs-cr
            .fullpage__column.fullpage__column--as-c
              .embed-responsive
                iframe(src="https://www.youtube.com/embed/8g03t2kx9Vw" allowfullscreen)
              a.btn.btn--main.btn--xl-hidden.main-block__btn(href="#main") Выбрать услугу
            .fullpage__column
              section.main-block.fullpage__mt.fullpage__la
                h1.title.main-block__title «Чистоград» — клининговая компания
                p.main-block__tagline полный спектром частных и коммерческих услуг
                ul.main-block__list
                  li
                    a(href="#1") Уборка квартир, офисов, коттеджей, помещений коммерческого и промышленного назначения
                  li
                    a(href="#1") Химчистка ковров и мягкой мебели, мойка окон, витрин и фасадов
                a.btn.btn--main.btn--xs-hidden.main-block__btn(href="#main") Выбрать услугу
block content
  main.main-page(id="main")
    section.block-serv(style="background-image: url('../img/decor/bg-section-1.jpg')" id="1")
      .block-serv__wrap.block-serv__wrap--service
        .container
          .service
            .service__img-text
              img(src="img/content/text-img-1.png", alt="Уборка")
            .service__row
              .service__col-3
                .service__nav
                  ul.nav.service__nav-list
                    li.service__nav-item
                      a.service__link.active(data-toggle="pill" href="#tab-0" ) Уборка квартир
                    li.service__nav-item
                      a.service__link(data-toggle="pill" href="#tab-1" ) Уборка коттеджей
                    li.service__nav-item
                      a.service__link(data-toggle="pill" href="#tab-2" ) Уборка офисов
                    li.service__nav-item
                      a.service__link(data-toggle="pill" href="#tab-3" ) Уборка помещений
                  span.decor-text услуги химчистки
              .service__col-9
                .tab-content.service__content
                  .tab-pane.service__tab.fade.show.active(id="tab-0" role="tabpanel" style="background-image: url('../img/decor/service-1.jpg')")
                    +service__info()
                  .tab-pane.service__tab.fade(id="tab-1" role="tabpanel" style="background-image: url('../img/decor/service-2.jpg')")
                    +service__info()
                  .tab-pane.service__tab.fade(id="tab-2" role="tabpanel" style="background-image: url('../img/decor/service-3.jpg')")
                    +service__info()
                  .tab-pane.service__tab.fade(id="tab-3" role="tabpanel" style="background-image: url('../img/decor/service-4.jpg')")
                    +service__info()
      .advantages.advantages--ident
        ul.advantages__list
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-1.png')" aria-label="Декоративная иконка")
              p #[strong Перезваниваем через] 5 мин. Выезжаем на объект в день обращения
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-2.png')" aria-label="Декоративная иконка")
              p #[strong Несем полную] материальную ответственность. #[a(href="") Смотреть наш договор]
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-3.png')" aria-label="Декоративная иконка")
              p Клиент #[strong принимает объект] после проверки менеджера компании
    section.block-serv(style="background-image: url('../img/decor/bg-section-1.jpg')")
      .block-serv__wrap.block-serv__wrap--service
        .container
          .service
            .service__img-text
              img(src="img/content/text-img-2.png", alt="Мойка")
            .service__row
              .service__col-3
                .service__nav
                  ul.nav.service__nav-list
                    li.service__nav-item
                      a.service__link.active(data-toggle="pill" href="#tab-4" ) Мойка окон
                    li.service__nav-item
                      a.service__link(data-toggle="pill" href="#tab-5" ) Мойка фасадов
                  span.decor-text услуги химчистки
              .service__col-9
                .tab-content.service__content
                  .tab-pane.service__tab.fade.show.active(id="tab-4" role="tabpanel" style="background-image: url('../img/decor/service-5.jpg')")
                    +service__info()
                  .tab-pane.service__tab.fade(id="tab-5" role="tabpanel" style="background-image: url('../img/decor/service-6.jpg')")
                    +service__info()
      .advantages.advantages--ident
        ul.advantages__list
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-4.png')" aria-label="Декоративная иконка")
              p #[strong Перезваниваем через] 5 мин. Выезжаем на объект в день обращения
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-5.png')" aria-label="Декоративная иконка")
              p #[strong Несем полную] материальную ответственность. #[a(href="") Смотреть наш договор]
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-6.png')" aria-label="Декоративная иконка")
              p Клиент #[strong принимает объект] после проверки менеджера компании
    section.block-serv(style="background-image: url('../img/decor/bg-section-1.jpg')")
      .block-serv__wrap.block-serv__wrap--service
        .container
          .service
            .service__img-text
              img(src="img/content/text-img-3.png", alt="Химчистка")
            .service__row
              .service__col-3
                .service__nav
                  ul.nav.service__nav-list
                    li.service__nav-item
                      a.service__link.active(data-toggle="pill" href="#tab-6" ) Химчитска ковров
                    li.service__nav-item
                      a.service__link(data-toggle="pill" href="#tab-7" ) Химчистка мебели
                    li.service__nav-item
                      a.service__link(data-toggle="pill" href="#tab-8" ) Химчистка матрасов
                    li.service__nav-item
                      a.service__link(data-toggle="pill" href="#tab-9" ) Устранение запахов
                  span.decor-text услуги химчистки
              .service__col-9
                .tab-content.service__content
                  .tab-pane.service__tab.fade.show.active(id="tab-6" role="tabpanel" style="background-image: url('../img/decor/service-5.jpg')")
                    +service__info()
                  .tab-pane.service__tab.fade(id="tab-7" role="tabpanel" style="background-image: url('../img/decor/service-6.jpg')")
                    +service__info()
                  .tab-pane.service__tab.fade(id="tab-8" role="tabpanel" style="background-image: url('../img/decor/service-5.jpg')")
                    +service__info()
                  .tab-pane.service__tab.fade(id="tab-9" role="tabpanel" style="background-image: url('../img/decor/service-6.jpg')")
                    +service__info()
      .advantages.advantages--ident.advantages--shadow
        ul.advantages__list
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-7.png')" aria-label="Декоративная иконка")
              p #[strong Перезваниваем через] 5 мин. Выезжаем на объект в день обращения
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-8.png')" aria-label="Декоративная иконка")
              p #[strong Несем полную] материальную ответственность. #[a(href="") Смотреть наш договор]
          li.advantages__column
            .advantages__item
              span.advantages__icon(style="background-image: url('../img/icon/icon-9.png')" aria-label="Декоративная иконка")
              p Клиент #[strong принимает объект] после проверки менеджера компании
    section.block-result(style="background-image: url('../img/decor/bg-section-1.jpg')")
      .container
        .clients
          .clients__row
            .clients__left
              span.decor-text.clients__dec-text Наши клиенты
              h2.title.clients__title-big Клиенты
            .clients__right
              h3.title.clients__title Мы работаем с большими  и маленькими компаниями  и с частными лицами
              ul.clients__list
                li.clients__item
                  img(src="img/icon/part-1.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-2.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-3.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-4.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-5.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-6.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-7.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-8.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-9.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-10.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-11.png", alt="Логотип")
                li.clients__item
                  img(src="img/icon/part-12.png", alt="Логотип")
block footer
  +page-footer()
