extends pug/layout.pug

block meta
    title Сраница не найдена
block header

block content
    ul
        li
            a(href="index.html") Главная
        li
            a(href="404.html") 404 ошибка
        li
            a(href="service.html") Сервис
        //li
        //    a(href="single.html") Внутряк
        li
            a(href="thanks.html") Спасибо
block footer
