.fullpage {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $screen-xl) {
    height: 100vh;
    min-height: 839px;
  }
}

.fullpage--main {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background: url('../img/decor/bg-main-2.png') no-repeat center / cover;
    opacity: 0.98;
    background-image: linear-gradient(to top, #151621 0%, #343b4b 100%);
  }
}

.fullpage--y-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullpage__row {
  @include make-row();
}

.fullpage__column {
  @include make-col-ready();

  @media (min-width: $screen-xl) {
    @include make-col(6);
  }
}
