.fullpage {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $screen-xl) {
    height: 100vh;
    //min-height: 839px;
    min-height: 710px;
  }
}

.fullpage--main {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background: url('../img/decor/bg-main-2.png') no-repeat center / cover;
    opacity: 0.98;
    background-image: linear-gradient(to top, #151621 0%, #343b4b 100%);
  }

  @media (min-width: $screen-xl) {
    overflow: hidden;
  }
}

.fullpage--service {
  background-position: top center;
  padding-bottom: 50px;

  @media (min-width: $screen-xl) {
    padding-bottom: 172px;
    min-height: inherit;
    height: inherit;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba($black, 0.48%);
  }
}

.fullpage--single {
  @media (min-width: $screen-xl) {
    min-height: inherit;
    height: inherit;
  }

  .page-header__phone {
    color: #333333;

    &::after {
      background: url("../img/icon/phone-blue.svg") no-repeat center/contain;
    }
  }
}

.fullpage--service .page-header {
  padding-bottom: 51px;

  @media (min-width: $screen-xl) {
    padding-bottom: 112px;
  }
}

.fullpage--service .burger {

  &::after,
  &::before {
    background: $white;
  }

  .burger__span {
    background: $white;
  }
}

.fullpage--service .page-header__phone {
  background-color: $white;
  background-image: url("../img/icon/phone-blue.svg");

  @media (min-width: $screen-xl) {
    background: transparent;

    &::after {
      background-image: url("../img/icon/phone-white.svg");
    }
  }
}

.fullpage--y-sb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fullpage__relative {
  position: relative;
}

.fullpage__row {
  @include make-row();

  &--xs-cr {
    flex-direction: column-reverse;

    @media (min-width: $screen-lg) {
      flex-direction: row;
    }
  }
}

.fullpage__column {
  @include make-col-ready();

  @media (min-width: $screen-lg) {
    @include make-col(6);
  }
}

.fullpage__mt {
  margin-top: 10px;
}

.fullpage__la {
  @media (min-width: $screen-xl) {
    margin-left: auto;
  }
}

.fullpage__dec-text {
  top: 228px;
  left: -135px;

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -37px;
    width: 12px;
    height: 20px;
    background: url("../img/icon/mouse.svg") no-repeat center / cover;
    transform: rotate(90deg);
  }

  @media (min-width: $screen-xl) {
    &::after {
      left: -83px;
    }
  }
}
